@{
}

@model Crash

<h2 class="text-center">Enter Information for the Collision:</h2>
<form method="post">

    <div class="text-center text-justify">
        <div asp-validation-summary="All"></div>
        <label asp-for="CRASH_ID"><b>Crash ID:</b></label>
        <input placeholder="Crash ID" type="number" asp-for="CRASH_ID" /><br /><br />

        <label asp-for="CRASH_DATETIME"><b>Crash Date and Time:</b></label>
        <input placeholder="ex: 1/1/2016 23:47" type="datetime" asp-for="CRASH_DATETIME" /><br /><br />

        <label asp-for="ROUTE"><b>Route:</b></label>
        <input placeholder="ex: 15" type="text" asp-for="ROUTE" /><br /><br />

        <label asp-for="MILEPOINT"><b>Milepoint:</b></label>
        <input placeholder="ex: 5.87" type="text" asp-for="MILEPOINT" /><br /><br />

        <label asp-for="LAT_UTM_Y"><b>Latitude:</b></label>
        <input placeholder="ex: 4,395,233.44" type="text" asp-for="LAT_UTM_Y" /><br /><br />

        <label asp-for="LONG_UTM_X"><b>Longitude:</b></label>
        <input placeholder="ex: 428,649.19" type="text" asp-for="LONG_UTM_X" /><br /><br />

        <label asp-for="MAIN_ROAD_NAME"><b>Main Road Name:</b></label>
        <input placeholder="ex: Yeet Road" type="text" asp-for="MAIN_ROAD_NAME" /><br /><br />

        <label asp-for="CITY"><b>City:</b></label>
        <input placeholder="ex: Provo" type="text" asp-for="CITY" /><br /><br />

        <label asp-for="COUNTY_NAME"><b>County Name:</b></label>
        <input placeholder="ex: Utah" type="text" asp-for="COUNTY_NAME" /><br /><br />

        <label asp-for="CRASH_SEVERITY_ID"><b>Severity:</b></label>
        <select class="form-select" asp-for="CRASH_SEVERITY_ID">
            <option value="">Select Crash Severity</option>
            <option value="1">1- No Injury</option>
            <option value="2">2- Possible Injury</option>
            <option value="3">3- Suspected Minor Injury</option>
            <option value="4">4- Suspected Serious Injury</option>
            <option value="5">5- Fatal</option>
        </select>
    </div>
    <br /><br />

    <div class="row">
        <div class="col-sm-4 text-center">
            <br />
            <div class="col-md-10">
                <label asp-for="WORK_ZONE_RELATED"><b>Work Zone Related:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.WORK_ZONE_RELATED, true)
                False
                @Html.RadioButtonFor(model => model.WORK_ZONE_RELATED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="PEDESTRIAN_INVOLVED"><b>Pedestrian Involved:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.PEDESTRIAN_INVOLVED, true)
                False
                @Html.RadioButtonFor(model => model.PEDESTRIAN_INVOLVED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="BICYCLIST_INVOLVED"><b>Bicyclist Involved:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.BICYCLIST_INVOLVED, true)
                False
                @Html.RadioButtonFor(model => model.BICYCLIST_INVOLVED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="MOTORCYCLE_INVOLVED"><b>Motorcycle Involved:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.MOTORCYCLE_INVOLVED, true)
                False
                @Html.RadioButtonFor(model => model.MOTORCYCLE_INVOLVED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="IMPROPER_RESTRAINT"><b>Improper Restraint:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.IMPROPER_RESTRAINT, true)
                False
                @Html.RadioButtonFor(model => model.IMPROPER_RESTRAINT, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="UNRESTRAINED"><b>Unrestrained:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.UNRESTRAINED, true)
                False
                @Html.RadioButtonFor(model => model.UNRESTRAINED, false)
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <div class="col-md-10">
                <label asp-for="DUI"><b>DUI:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.DUI, true)
                False
                @Html.RadioButtonFor(model => model.DUI, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="INTERSECTION_RELATED"><b>Intersection Related:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.INTERSECTION_RELATED, true)
                False
                @Html.RadioButtonFor(model => model.INTERSECTION_RELATED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="WILD_ANIMAL_RELATED"><b>Wild Animal Related:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.WILD_ANIMAL_RELATED, true)
                False
                @Html.RadioButtonFor(model => model.WILD_ANIMAL_RELATED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="DOMESTIC_ANIMAL_RELATED"><b>Domestic Animal Related:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.DOMESTIC_ANIMAL_RELATED, true)
                False
                @Html.RadioButtonFor(model => model.DOMESTIC_ANIMAL_RELATED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="OVERTURN_ROLLOVER"><b>Overturn Rollover:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.OVERTURN_ROLLOVER, true)
                False
                @Html.RadioButtonFor(model => model.OVERTURN_ROLLOVER, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED"><b>Commerical Motor Vehical Involved:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.COMMERCIAL_MOTOR_VEH_INVOLVED, true)
                False
                @Html.RadioButtonFor(model => model.COMMERCIAL_MOTOR_VEH_INVOLVED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="TEENAGE_DRIVER_INVOLVED"><b>Teenage Driver Involved:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.TEENAGE_DRIVER_INVOLVED, true)
                False
                @Html.RadioButtonFor(model => model.TEENAGE_DRIVER_INVOLVED, false)
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <br />
            <div class="col-md-10">
                <label asp-for="OLDER_DRIVER_INVOLVED"><b>Older Driver Involved:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.OLDER_DRIVER_INVOLVED, true)
                False
                @Html.RadioButtonFor(model => model.OLDER_DRIVER_INVOLVED, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="NIGHT_DARK_CONDITION"><b>Night/Dark Condition:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.NIGHT_DARK_CONDITION, true)
                False
                @Html.RadioButtonFor(model => model.NIGHT_DARK_CONDITION, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="SINGLE_VEHICLE"><b>Single Vehicle:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.SINGLE_VEHICLE, true)
                False
                @Html.RadioButtonFor(model => model.SINGLE_VEHICLE, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="DISTRACTED_DRIVING"><b>Distracted Driving:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.DISTRACTED_DRIVING, true)
                False
                @Html.RadioButtonFor(model => model.DISTRACTED_DRIVING, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="DROWSY_DRIVING"><b>Drowsy Driving:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.DROWSY_DRIVING, true)
                False
                @Html.RadioButtonFor(model => model.DROWSY_DRIVING, false)
            </div>
            <br />
            <div class="col-md-10">
                <label asp-for="ROADWAY_DEPARTURE"><b>Roadway Departure:</b></label><br />
                True
                @Html.RadioButtonFor(model => model.ROADWAY_DEPARTURE, true)
                False
                @Html.RadioButtonFor(model => model.ROADWAY_DEPARTURE, false)
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row justify-content-center" style="margin:auto">
        <div style="padding-right:50px">
            <a class="btn btn btn-dark" href="/Admin/AdminView">Back</a>
        </div>
        <div>
            <button class="btn btn btn-info" type="submit">Save</button>
        </div>
    </div>
    <br />
</form>